@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 200, 176, 152;
  --background: 255, 255, 255;
  --foreground: 0, 0, 0;
}

@layer base {
  html {
    font-family: var(--font-courier-prime), monospace;
  }

  h1, h2, h3, h4, h5, h6, p, span, a, button {
    font-family: var(--font-courier-prime), monospace !important;
  }
}

body {
  margin: 0;
  padding-top: 20px;
  background-color: white;
  color: black;
}

.nav-link:hover {
  opacity: 0.7;
}
